#bg1{
   
    background-image: url(bg.jpg);
    background-repeat: no repeat;
    background-size: cover;

}
table{


    background-color:cadetblue;

    border-spacing: 30px;
}


.cg1{

    background-color: red;
}

.panel{

    background-color: white;
    height: 30px
    

}

.ru{
    background-color:red
}

.cg3{

    background-color: blue;
}

.equal{

    background-color: green;
}


button{
    width:100%;
    height:100%;
    font-size:;
    font-weight:bold;
    border: none;
    border-radius:x;
    cursor:pointer;
     box-sizing : border-box;
    color:blue;
    
}

td {
    width:15px;
    height:15px;
    padding:0;
}

  table {
        border-collapse: separate;
        border-spacing: 8;
        border-radius: 10px;
        border: 1px solid; 
        height: 300px;
        width: 300px;
    }
    