#bg1{
   
    background-image: url(bg.jpg);
    background-repeat: no repeat;
    background-size:cover;


}
table{


    background-color:rgba(110, 100, 100, 0.964);

    border-spacing: 30px;
    position: relative;
    top: 40px;
    bottom:20px;
}


.cg1{

    background-color:
}

.panel{

    background-color: white;
    height: 30px;
    border: 1px solid;
    border-radius:25px;
}
    







button{
    width: 40px;
    height:33px;
  
    font-weight:bold;
    border: none;
    
   
     box-sizing : ;
    color:yellow;
    background-color: grey;
    border-radius:50px;
    border:1px solid;
    
}

td{
    width: 180px;
    height:10px;
    padding:0px;
    background-color: black;
    border-radius:50px;
}

  table {
        
        border-spacing: 9;
        border-radius: 10px;
        border : 1px solid;
        height : 60px;
        width  : 60px;
    }


    
.last  
{
    color: aqua;
  
}
    